/*----------------------------------
	Construction Page Styles
------------------------------------*/
.yellow-bg-action {
  background: #f7ad00 url("../img/icons/action-2.png") repeat scroll 0 0;
  padding: 20px 0;
}
.ch-row{
	padding: 117px 0 107px 0;
}
.area-title-3 > h2 {
  color: #2b2b35;
  font-size: 28px;
  font-weight: bold;
  line-height: 24px;
  position: relative;
  margin: 0;
}
.area-title-3 > h2::before {
  background: #f7ad00 none repeat scroll 0 0;
  content: "";
  height: 12px;
  left: 0;
  position: absolute;
  top: -20px;
  width: 12px;
}
.intro-ttle {
  color: #333333;
  font-size: 18px;
  line-height: 24px;
  text-transform: capitalize;
}
.single-intro {
  margin-bottom: 60px;
  padding-left: 10px;
}
.single-intro:last-child{
	margin-bottom: 0;
}
.single-intro:last-child .intro-icon::before{
	display: none;
}
.intro-desc {
  width: 87%;
  float: left;
  padding-left: 20px;
}
.intro-desc > p {
  line-height: 24px;
  margin: 0;
}
.intro-icon {
  border: 2px solid #ffb300;
  border-radius: 50%;
  color: #ffb300;
  display: inline-block;
  float: left;
  font-size: 40px;
  height: 70px;
  line-height: 63px;
  text-align: center;
  width: 70px;
  position: relative;
}
.intro-icon::before {
  background: #ffb300 none repeat scroll 0 0;
  content: "";
  height: 103px;
  left: 50%;
  margin-left: -1px;
  position: absolute;
  top: 100%;
  width: 2px;
}
.ch-intro-text {
  margin-top: 45px;
}
.ch-intro-text .intro-ttle {
  margin-bottom: 25px;
}
.ch-intro-text > p {
  margin-bottom: 37px;
}
/*Construction project area*/
.co-project-area{
	background: #f5f5f5;
}
.carousel-construction.owl-theme .owl-controls {
  margin-top: 0;
  position: absolute;
  right: 45px;
  text-align: right;
  top: -115px;
}
.carousel-construction.owl-theme .owl-controls .owl-buttons div {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  color: #6b6b6b;
  display: inline-block;
  font-size: 24px;
  height: 45px;
  line-height: 41px;
  margin: 0 0 0 6px;
  opacity: 1;
  padding: 0;
  text-align: center;
  width: 45px;
  transition: .3s;
  position: relative;
  z-index: 2;
}
.carousel-construction .owl-buttons{
	position: relative;
}
.carousel-construction .owl-buttons::before {
  border-top: 1px solid #dddddd;
  content: "";
  left: -30%;
  position: absolute;
  top: 50%;
  width: 170px;
  z-index: 1;
}
/*Project Step*/
.project-step-area {
  background: rgba(0, 0, 0, 0) url("../img/bg/27.jpg") repeat scroll center center / cover ;
  padding: 90px 0;
}
.project-step-area-bg-2 {
  background: rgba(0, 0, 0, 0) url("../img/bg/29.jpg") repeat scroll center center / cover ;
}
.project-icon {
  background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
  border: 2px solid #ffffff;
  border-radius: 50%;
  height: 136px;
  line-height: 160px;
  margin: auto;
  width: 135px;
  position: relative;
  transition:  .3s;
}
.project-icon i {
  color: #ffffff;
  font-size: 60px;
  line-height: 50px;
}
.project-icon > p {
  background: #ffae00 none repeat scroll 0 0;
  border: 3px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  left: -10px;
  line-height: 44px;
  margin: 0;
  position: absolute;
  top: -10px;
  width: 50px;
}
.single-project-step.text-center > h4 {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 40px;
}

.shop-blog-area{
  margin-bottom: 75px;
}
.single-shop-blog {
    position: relative;
    overflow: hidden;
}
.shop-blog-content {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  height: 100%;
  left: 0;
  padding: 20px 30px;
  position: absolute;
  top: 0;
  transform: translateY(80%);
  transition: all 0.3s ease 0s;
  width: 100%;
}
.single-shop-blog:hover .shop-blog-content{
  transform: translateY(50%);
}
.shop-blog-content h4{
  position: relative;
  padding-bottom: 10px;
}
.shop-blog-content h4:after{
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  border-bottom: 2px solid #fbaf5d;
  left: 0;
  bottom: 0;    

}
.shop-blog2 .shop-blog-content h4::after {
  border-bottom: 1px solid #ebebec;
  width: 120px;
}
.shop-blog-content > p {
  font-size: 13px;
}
.shop-blob-meta {
    overflow: hidden;
}
.shop-blob-meta > li {
    float: left;
    margin-right: 15px;
}
.shop-blob-meta a {
    font-size: 13px;
}
.shop-blob-meta a i {
    margin-right: 6px;
    color: #fbaf5d;
}
.shop-blog2 .shop-blog-content {
  background: none;
  height: 100%;
  left: 0;
  padding: 20px 0;
  position: static;
  top: 0;
  transform: none;
  transition: all 0.3s ease 0s;
  width: 100%;
}
.ch-row.shop-blog2{
	background: #f5f5f5;
}
.ch-row.shop-blog2 .shop-blog-content h4 a{
  color: #323334;
  text-transform: none;
  font-size: 18px;
  font-weight: 600;
}
.shop-blog2 .shop-blog-content > p{
  color: #575859;
  line-height: 24px;
}
.shop-blog2  .shop-blob-meta a {
  color: #9d9d9e;
}
.shop-blog2 .shop-blog-content > h4::before{
  display: none;
}
.shop-blog2 .single-shop-blog:hover .shop-blog-content {
  transform: none;
}

.shop-medicine-blog .shop-blob-meta {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  padding: 10px 0;
  margin-bottom: 15px;
}
.shop-medicine-blog .shop-blob-meta > li {
  border-right: 1px solid #e5e5e5;
  padding-right: 15px;
}
.shop-medicine-blog .shop-blob-meta > li:last-child{
  border-right: medium none;
}
.shop-medicine-blog .shop-blob-meta a i {
  color: #999999;
}
.welcome-wrapper {
  border-bottom: 1px solid #e5e5e5;
}
.intro-style-2{
	padding: 0;
}
.intro-style-2 .intro-desc {
  width: 81%;
}