/*------------------------------------------
  All header style
--------------------------------------------*/
/*-------------------------------------------
/* 2. Header 
/*-------------------------------------------*/
.transparent-header {
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease 0s;
  width: 100%;
  z-index: 99;
}
.header-bottom-border {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1px;
}
.header-bottom-border .logo {
  border-right: 1px solid #e5e5e5;
  padding: 25px 0;
}
.header-bottom-border .menu-wrap,
.header-bottom-border .top-setting-btn,
.header-bottom-border .top-search{  
  padding: 27px 0;
}
.corporate-h3 .header-top {
  border-bottom: 1px dashed rgba(255, 255, 255, .5);
}
.corporate-h3 .header-top-info > p:first-child {
  border-right: 1px dashed rgba(255, 255, 255, .5);
  padding: 10px 20px 10px  0;
}
.corporate-h3 .header-top-info {
  padding: 0;
}
.corporate-h3 .head-transparent p:after{
  display: none;
}
.corporate-h3 .head-transparent p {
  margin-bottom: 0;
  margin-right: 20px;
}
.corporate-h3  .logo {
  margin-top: 40px;
}
.corporate-h3 .header-top-content-wrap {
  border-bottom: none;
}
.corporate-h3 .menu-wrap.menu-dark {
  margin-top: 30px;
}
.corporate-h3 .primary-menu > ul > li > a {
  padding: 25px 0;
}
.corporate-h3 .top-action-area.pull-right {
  margin-top: 30px;
}
.corporate-h3 .top-action-area > li > a {
  padding: 25px 0;
}
/*-------------------------------------------
/* 2.1 Header top
/*-------------------------------------------*/
.header-top-info {
  padding: 10px 0;
  line-height: normal;
}
.head-transparent p, .head-transparent p a {
  color: #c4c4c4;
  display: inline-block;
  font-size: 12px;
  line-height: normal;
  margin: 0 40px 0 0;
  position: relative;
}
.head-transparent p i{
  margin-right: 5px;
}
.head-transparent p::after {
  color: #3d4868;
  content: "|";
  position: absolute;
  right: -20px;
  top: 0;
}
.head-transparent p:last-child::after{
  content: "";
}
.header-social-bookmark ul li {
  float: left;
  margin-left: 20px;
}
.header-social-bookmark ul li:last-child {
  margin-right: 0;
}
.header-social-bookmark ul li a{
  color: #c4c4c4;
  font-size: 12px;
  line-height: 36px;
}
.header-top-content-wrap {
  border-bottom: 1px dashed #3b4665;
}
.header-full-width {
  position: relative;
}
.corporate-h1 .logo {
  margin-top: 22px;
}
.header-v3 .header-top {
  background: #3e3e3e;
  padding: 0 55px;
}
.header-v3 .chairman-logo-menu {
  padding: 0 55px;
  transition: all 0.3s ease 0s;
}
.header-not-full-width .header-v3 .chairman-logo-menu{
  padding: 0;
}
.menu-dark .primary-menu > ul > li > a,
.top-search.dark-color a,
.top-setting-btn.dark-color .icon-bar{
  color: #3e3e3e;
}
.header-v3 .head-transparent p {
  border-right: 1px dashed rgba(255, 255, 255,.3);
  margin-bottom: 0;
  margin-right: 20px;
  padding: 10px 20px 10px 0;
}
.header-v3 .header-top-info {
  line-height: normal;
  padding: 0;
}
.header-v3 .head-transparent p::after {
  display: none;
}
.header-v3 .header-top-content-wrap {
  border-bottom: none;
}
.header-v3 .header-top-info > p:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
.header-v3 .primary-menu > ul > li {
  margin-left: 45px;
}
.chairman-logo-menu{
  transition: .3s
}
.chairman-logo-menu.sticky {
  background: rgba(255, 255, 255, 0.97) none repeat scroll 0 0;
  box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: .3s;
}
.header-v3 .logo {
  padding: 39px 0;
  transition: .3s;
}
.header-v3 .primary-menu > ul > li > a {
  padding: 47px 0;
}
.header-v3 .top-action-area > li > a {
  padding: 50px 0;
}
.header-v3 .sticky .primary-menu > ul > li > a {
  padding: 25px 0;
}
.header-v3 .sticky .top-action-area > li > a{
  padding: 27px 0;
}
.header-v3 .sticky .logo{
  padding: 17px 0;
}
/*-------------------------------------
/*2.2 Main menu area
/*-------------------------------------*/
.primary-menu > ul > li {
  float: left;
  margin-left: 41px;
  position: relative;
}
.primary-menu > ul > li > a{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding: 45px 0 25px;
  display: block;
  font-size: 13px;
}
span.indicator i {
  font-size: 13px;
}
/*---------------------------------
/*2.3 Drop down menu area 
/*---------------------------------*/
.chairman-dropdown {
  left: 0;
  top: 120%;
}
.chairman-mega-menu{
  left: 0;
  top: 120%;
}

.menu-left-align .chairman-mega-menu {
  right: auto;
  left: 0;
  top: 120%;
}
.header-v3 .chairman-mega-menu {
  right: 0;
  left: auto;
}
.chairman-dropdown > li,
.chairman-sub-dropdown li{
  width: 250px;
  position: relative;
  border-bottom: 1px solid #ebebeb;
}
.chairman-dropdown li:last-child,
.single-mega-child li:last-child{
  border-bottom: none;
}
.single-mega-child.first-row li{
  border-left: none;
}
.chairman-dropdown li a,
.single-mega-child li a{
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  color: #999999 !important ;
  padding: 10px 15px;
  display: block;
  position: relative;
  transition: .3s;
  text-transform: uppercase;
  font-weight: 700;
}
.chairman-dropdown > li > a span.indicator{
  position: absolute;
  right: 10px;
}
.chairman-dropdown > li:hover > a{
  background: #4fc1f0;
  color: #fff !important;
}
.chairman-dropdown > li:hover .chairman-sub-dropdown{
  opacity: 1;
  visibility: visible;
  top: -3px;
}
.primary-menu > ul > li:hover .chairman-dropdown,
.primary-menu > ul > li:hover .chairman-mega-menu{
  opacity: 1;
  visibility: visible;
  top: 100%
}
.chairman-sub-dropdown{
  top: 20px;
  left: 100%;
}
.chairman-sub-dropdown, 
.top-search-form, 
.chairman-dropdown, 
.chairman-mega-menu {
  background: #fff none repeat scroll 0 0;
  border-top: 3px solid #4fc1f0;
  box-shadow: 0 1px 2px rgba(86, 86, 90, 0.5);
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 250px;
  z-index: 999999;
}
.chairman-dropdown > li:hover .chairman-sub-dropdown > li a{
  background: none;
}
 .chairman-sub-dropdown > li:hover > a {
  background: #4fc1f0 !important ;
  color: #fff !important;
}
/*-------------------------------------
/* 2.4 Mega menu
/*-------------------------------------*/
.chairman-mega-menu {
  overflow: hidden;
  width: 615px;
}
.single-mega-child{
  width: 33.33%;
  float: left;
}
.single-mega-child li {
  border-bottom: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
}
.single-mega-child li:hover a{
  color: #fff;
  background: #4fc1f0;
}

/*Blog Page Menu*/
.blog-menu > ul > li {
  margin-left: 0;
  margin-right: 30px;
}
.blog-menu > ul > li > a{
  font-weight: normal;
  padding: 20px 0;
}
.primary-menu.blog-menu > ul > li > a {
  color: #141414;
}
.header-v4 .header-social-bookmark ul li a {
  color: #323334;
  font-size: 14px;
  line-height: normal;
}
.header-v4  .header-social-bookmark ul li {
  padding: 20px 0;
}
/*---------------------------------
  Blog Menu Two
--------------------------------*/
.header-top-gray {
  background: #f7f7f7 none repeat scroll 0 0;
}
.header-v5 .header-top-gray .header-social-bookmark ul li {
  padding: 7px 0;
}
.header-top-gray  .header-social-bookmark ul li {
  margin-right: 20px;
  margin-left: 0;
}
.header-v5 .top-action-area > li > a {
  background: #81ad7b none repeat scroll 0 0;
  color: #444;
  padding: 15px;
}
.header-v5 .header-social-bookmark ul li a {
  color: #323334;
  font-size: 14px;
}
.header-v5 .bark-bg-menu {
  background: #444444 none repeat scroll 0 0;
}
.header-v5 .primary-menu > ul > li {
  display: inline-block;
  float: none;
  margin: 0;
  margin: 0 27px;
  position: relative;
}
.header-v5 .logo {
  margin: 0;
  padding: 45px 0;
}
.header-top-blog-3 .header-social-bookmark ul li {
  margin-left: 0;
  margin-right: 20px;
}
.header-v5 .header-top-blog-3  .top-action-area > li > a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #444;
  padding: 10px 0;
}
.header-top-blog-3 {
  padding: 50px 0;
}
.header-v5 .header-top-blog-3  .logo {
  margin: 0;
  padding: 0;
}
.header-v5 .green-bg-menu {
  background: #81ad7b none repeat scroll 0 0;
}
.header-v5 .primary-menu.blog-menu > ul > li > a{
  color: #ffffff;
}
.header-v5 .chairman-dropdown li a, .single-mega-child li a {
  text-align: left;
}
/*--------------------------------------
/* 2.5 Header search form area
/*--------------------------------------*/

.top-action-area > li {
  float: left;
  margin-left: 20px;
  position: relative;
}
.top-action-area > li > a {
  display: block;
  font-size: 16px;
  padding: 45px 0 25px;
  line-height: 19px;
  color: #fff;
}
.top-search-form {
  background: #fff none repeat scroll 0 0;
  right: 0px;
  top: 120%;
  padding: 10px;
  width: 350px;
}
.top-action-area  li:hover .top-search-form,
.top-action-area  li:hover .cart-details-wrapper {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.top-search-form input[type="text"] {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #999999;
  font-size: 16px;
  padding: 9px 10px;
  width: 83%;
}
.top-search-form button {
  background: #4fc1f0 none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 48px;
  margin-left: 4px;
  transition: .3s;
}
.top-search-form button:hover{
  background: #2aa0d1;
}
.corporate-h2.transparent-header {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.corporate-h2 .primary-menu > ul > li > a{
  padding: 33px 0;
}
.corporate-h2 .logo {
  padding: 23px 0;
}
.corporate-h2 .top-action-area > li > a {
  padding: 36px 0;
}
.setting-btn{
  cursor: pointer;
}
.top-action-area  li:hover .user-meta{
  top: 100%;
  opacity: 1;
  visibility: visible;
  color: #4FC1F0;
}
.setting-btn .icon-bar {
  color: #fff;
  display: block;
  padding: 22px 0;
  position: relative;
}
.user-meta {
  background: #fff none repeat scroll 0 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 120%;
  width: 150px;
  border-top: 3px solid #4FC1F0;
  opacity: 0;
  transition: .3s;
  visibility: hidden;
  box-shadow: 0 1px 2px rgba(86, 86, 90, 0.5);
  z-index: 99999;
}
.user-meta > li {
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}
.user-meta > li a {
  font-size: 11px;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
}
.header-bottom-border .top-action-area > li > a{
  padding: 37px 0;
}
.slider-wrap {
  z-index: 1;
  position: relative;
}
/*------------------------------------
  Header 6 Style
--------------------------------------*/
.header-v6 {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
}
.dark-header.header-v6.event-header {
  background: rgba(18, 17, 18, 0.8) none repeat scroll 0 0;
}
.header-v6 .header-social-bookmark {
  padding: 27px 0;
}
.header-v6 .logo {
  padding: 25px 0;
}
.header-v6.event-header .logo {
  padding: 30px 0;
}
.header-v6 .primary-menu > ul > li > a {
  padding: 33px 0;
  font-size: 14px;
}
/*-----------------------------
  Event Header Two
--------------------------------*/
.ev-header-2{
  position: relative;
}
.ev-header-2::before {
  background: #b00e09 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  margin-left: -10%;
  position: absolute;
  top: 0;
  transform: skewX(45deg);
  width: 45%;
}

/*------------------------------------
  Solid Background Header
--------------------------------------*/
.solid-bg-header .header-v6{
  background: none;
  margin-bottom: 20px;
}
.solid-bg-header .header-v6 .solid-header-bg{
  background: #fff;
}
.solid-bg-header .primary-menu > ul > li > a{
  color: #323334;
}
.white-bg{
  background: #fff;
  padding: 0 15px;
}
/*------------------------------
  Shop Header Area
---------------------------------*/
.shop-header-meta:after{
  content: "";
  display: block;
  clear: both;
}
.shop-header-top {
  background: #323334;
}
.shop-header-meta > li {
  border-left: 1px solid #575859;
  float: left;
  padding: 6px 20px;
  position: relative;
}
.shop-header-meta > li:hover ul{
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.shop-header-meta > li ul {
  position: absolute;
  text-align: right;
  right: 0;
  top: 120%;
  background: #fff;  width: 100px;
  box-shadow: 0 1px 2px rgba(86, 86, 90, 0.5);
  z-index: 99;
  border-top: 3px solid #1abc9c;
  opacity: 0;
  transition: .3s;
  visibility: hidden;
  text-align: center;
}
.shop-header-meta > li ul li {
  border-bottom: 1px solid #e5e5e5;
}
.shop-header-meta.pull-right a {
  color: #9d9d9e;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.shop-header-meta a i{
  margin-left: 5px;
}
.shop-header-meta li ul li a {
  color: #9d9d9e;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding: 3px 0;
  font-size: 12px;
}
.shop-header-meta > li:first-child,
.shop-top-info > li:last-child{
  border: none;
}
.meta-dropdown img {
  margin-right: 10px;
}
.shop-header-meta > li:first-child a i {
  margin-right: 10px;
  margin-left: 0;
}
.shop-top-info > li {
  border-right: 1px solid #575859;
  color: #dddddd;
  float: left;
  font-size: 13px;
  font-weight: bold;
  margin-right: 25px;
  padding: 7px 25px 7px 0;
}
.shop-top-info > li i {
  margin-right: 10px;
}
.catr-count {
  border-radius: 50%;
  bottom: 39px;
  color: #ffffff;
  font-size: 13px;
  height: 18px;
  line-height: 17px;
  margin-top: -2px;
  position: absolute;
  right: -14px;
  text-align: center;
  top: 50%;
  width: 18px;
}
.cart-details-wrapper {
  background: #ffffff none repeat scroll 0 0;
  opacity: 0;
  padding: 0 10px;
  position: absolute;
  right: -20px;
  top: 120%;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 300px;
  z-index: 99;
  box-shadow: 0 1px 2px rgba(86, 86, 90, 0.5);
}
.single-cart-product > a img {
  float: left;
  padding-right: 10px;
}
.cart-details {
  float: left;
  width: 75%;
}
.cart-details h5 a {
  color: #666666;
  text-transform: none;
  font-size: 13px;
  font-weight: bold;
}
.cart-details h5 {
  margin: 0;
}
.cart-details > p {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}
.single-cart-product {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.single-cart-product:last-child {
  border: none;
}
.cart-details span.pull-right {
  color: #999999;
}
.total-price {
  margin: 0;
  padding: 5px 0;
  color: #3e3e3e;
  font-weight: bold;
  font-size: 18px;
}
.total-price a{
  text-transform: uppercase;
  font-weight: bold;
  color: #1abc9c;
  font-size: 12px;
  text-decoration: underline;
}
/*Header Version 7*/
.menu-left-align .primary-menu > ul > li {
  margin-left: 0;
  margin-right: 35px;
}
.menu-dark .primary-menu > ul > li > a {
  color: #fff;
}
.menu-left-align .primary-menu > ul > li > a {
  padding: 15px 0;
}
.low-pad-header-top.top-action-area > li > a {
  padding: 17px 0;
  bottom: 7px
}
.low-pad-header-top .catr-count{
  bottom: 7px
}
.ml-dark.chairman-logo-menu {
  background: #2c2d2f;
}
.ml-light.chairman-logo-menu {
  background: #fff;
}
.ml-light .primary-menu > ul > li > a {
  color: #323334;
}
.header-v7 .shop-header-top {
  background: #fff none repeat scroll 0 0;
  padding: 25px 0 30px;
}
.header-v7 .shop-header-meta > li {
  border-left: medium none;
  margin-left: 20px;
  padding: 0 0 0 20px;
}
.header-v7 .shop-top-info.fix > li {
  color: #9d9d9e;
  color: #666;
}
.header-v7  .shop-header-meta a {
  color: #666;
}
.header-v7 .top-action-area > li > a {
  color: #ffffff;
}
.header-v7 .ht-dirk.top-action-area > li > a {
  color: #323334;
}
.header-v7 .shop-header-meta.pull-right {
  margin-top: 8px;
}
.header-v7 .user-meta,
.header-v7 .cart-details-wrapper,
.header-v7 .top-search-form {
  z-index: 9999;
}
.header-v7.ex-paddig-area .shop-header-top{
  padding: 30px 0 60px;
}
.header-v7 .single-header-meta {
  display: inline-block;
  margin: 15px 15px  0 0;
}
.header-v7 .shop-header-meta.single-header-meta > li {
  margin-left: 0;
  padding: 0;
}
.shop-header-meta.single-header-meta > li ul {
  right: auto;
  left: 0;
}
.shop-top-info.single-header-meta > li {
  margin-right: 0;
  padding: 0;
}
.header-v7 .shop-header-meta.single-header-meta > li i {
  margin-left: 5px;
  margin-right: 0;
}
.header-v7.ex-paddig-area .shop-header-meta.pull-right {
  margin-top: 0;
}
.header-v7.ex-paddig-area .single-header-meta.top-action-area > li > a {
  color: #444444;
  margin: 0;padding: 0;
}
.single-header-meta.top-action-area {
  margin-right: 0;
}
.header-v7.ex-paddig-area .shop-header-meta.pull-right.log-inglink {
  margin-top: 12px;
}
.header-v7.ex-paddig-area .top-action-area.pull-right.low-pad-header-top:first-child {
  margin-right: 30px;
}

 /*Orange Bg Menu*/
.orang-bg-menu{
  background: #ff7f66;
}
.orang-bg-menu .menu-left-align .primary-menu > ul > li:first-child a {
  padding-left: 30px;
}
/*Shop Furniture menu 2*/
.shop-furniture-header .light-header {
  padding: 70px 0 0;
}
.shop-furniture-header .primary-menu > ul > li > a {
  padding: 15px 0;
  color: #323334;
}
.shop-furniture-header .top-action-area > li > a {
  color: #323334;
  padding: 15px 0;
}
.header-handmed .cart-details-wrapper {
  right: 0;
}
.shop-hand-mad-header .primary-menu > ul > li > a,
.header-v3 .top-action-area > li > a{
  color: #fff;
}
.shop-hand-mad-header .header-v3 .header-top{
  background: none;
  border: none;
}
/*Shop header Digital*/
.shop-header-top.blue-header-top,
.header-v8 .chairman-logo-menu {
  background: #308dd5 none repeat scroll 0 0;
}
.header-v8 .primary-menu > ul > li > a {
  font-size: 14px;
}
.blue-light-middle {
  background: #3b9ce7;
}
.blue-header-top .shop-top-info > li,
.shop-header-meta li a{
  color: #ffffff;
}
.header-v8 .top-action-area > li > a {
  color: #ffffff;
  display: block;
  font-size: 12px;
  padding: 0;
}
.header-v8 .shop-header-meta > li {
  border-left: 1px solid transparent;
  border-right: 1px solid #63aee9
}
.digital-header-meta.top-action-area li {
  border-left: 1px solid #63aee9;
  margin: 0 0 0 20px;
  padding: 9px 0 8px 10px;
}
.digital-header-meta .cart-details-wrapper {
  right: 0;
}
.digital-header-meta.top-action-area li a {
  font-weight: bold;
  text-transform: uppercase;
}
.digital-header-meta.top-action-area li a i{
  margin-right: 5px;
}
.shop-top-info.shop-header-meta > li {
  padding: 5px 25px 7px 0;
}
.digital-header-meta .catr-count {
  bottom: 0;
  font-size: 10px;
  height: 15px;
  left: 15px;
  line-height: 14px;
  width: 15px;
}
.header-v8 .logo {
  padding: 38px 0;
}
.header-v8 .blue-header-top .top-action-area > li > a {
  display: block;
  font-family: raleway;
  font-weight: bold;
}
.header-v8 .blue-header-top .shop-header-meta a i {
  margin-left: 10px;
  margin-right: 0!important;
}
/*Header Version 8 Light*/
.header-v8-light .shop-header-top{
  background: #fff;
  border-bottom: 1px solid #ebebec;
}
.header-v8-light .shop-top-info > li,
.header-v8-light .blue-header-top .shop-top-info > li, 
.header-v8-light .shop-header-meta li a,
.header-v8-light.header-v8 .top-action-area > li > a {
  color: #575859;
}
.header-v8.header-v8-light .shop-header-meta > li {
  border-right: 1px solid #ebebec;
}
.shop-header-top .digital-header-meta.top-action-area > li {
  border-left: 1px solid #ebebec;
  border-right: medium none;
}
.shop-header-top .digital-header-meta.top-action-area > li:first-child {
  border: medium none;
  padding: 9px 0;
}
.header-v8-light .blue-light-middle {
  background: #fff none repeat scroll 0 0;
}
.header-v8-light:not(.header-v8-search-bottom) .search-cat-wrapper .search-form > form {
  border: 1px solid #e5e5e5;
  border-radius: 24px;
}
.header-v8-light:not(.header-v8-search-bottom) .search-cat {
  float: left;
  position: relative;
  width: 130px;
  top: 1px;
  left: 3px;
}
.header-v8-light:not(.header-v8-search-bottom) .chairman-logo-menu {
  background: #ffffff none repeat scroll 0 0;
  border-top: 1px solid #ebebec;
}
.header-v8-light:not(.header-v8-search-bottom) .shop-header-top .top-action-area > li {
  border-right: none;
  padding: 9px 20px;
}
.header-v8-light .order-online > p {
  color: #323334;
}
.header-v8-light .order-online i {
  border: 1px solid #ebebec;
  color: #3b9ce7;
} 
.header-v8-light.header-v8 .chairman-logo-menu {
  background: #323334 none repeat scroll 0 0;
}
.header-v8-light.header-v8-light.header-v8 .chairman-logo-menu {
  background: #fff none repeat scroll 0 0;
}
.header-v8-light .menu-dark .primary-menu > ul > li > a{
  color: #323334;
}
.header-v8.header-v8-light .shop-header-meta > li:last-child {
  padding-right: 0;
  border-right: 0;
}
/*Header V8 Search bottom style*/
.header-v8.header-v8-light.header-v8-search-bottom .shop-header-meta > li {
  border-left: 1px solid #ebebec;
  border-right: medium none;
  margin: 0;
  padding: 6px 20px;
}
.header-v8-search-bottom .shop-header-meta > li:first-child a i {
  margin-left: 6px;
  margin-right: 0;
  margin-top: 0;
  position: relative;
  top: 2px;
}
.header-v8-search-bottom  .shop-header-meta > li ul {
  right: auto;
  left: 0;
  width: 120px;
}
.header-v8-search-bottom  .shop-header-meta > li ul li {
  padding-right: 0;
  text-align: left;
  padding-left: 20px;
}
.phone-no.pull-right {
  margin: 0;
  font-weight: bold;
  color: #343334;
  padding: 6px 0;
}
.phone-no.pull-right i{
  margin-right: 7px;
}
.phone-no.pull-right {
  margin: 0;
}
.header-v8-search-bottom .header-v8 .logo {
  padding: 25px 0;
}

.header-bottom-bg{
  background: #3f80c5;
  border-radius: 3px
}
.header-v8-search-bottom  .search-cat-wrapper {
  padding: 8px;
  width: 100%;
}
.header-v8-search-bottom .search-cat select {
  border-radius: 4px 0 0 4px;
}
.header-v8-search-bottom  .search-form button {
  border-radius: 0 4px 4px 0;
}
.header-v8-search-bottom.header-v8-light.header-v8 .top-action-area > li > a{
  color: #fff;
  font-weight: bold;
}
.header-v8-search-bottom .digital-header-meta.top-action-area.pull-right {
  padding: 12px 0;
}
.header-v8-search-bottom .digital-header-meta.top-action-area li {
  border-left: 1px solid #ebebec;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 0;
}
.header-v8-search-bottom .digital-header-meta.top-action-area li:first-child{
  border: none;
}
.digital-header-meta.top-action-area.pull-right > li p {
  margin: 0;
  line-height: normal;
}
.digital-header-meta.top-action-area.pull-right > li p i{
  margin-right: 10px;
}
.header-food .cart-details-wrapper{
  right: 0;
}
.header-food .shop-header-top {
  background: #ffffff none repeat scroll 0 0;
  border-bottom: 1px solid #e5e5e5;
}
.header-food .shop-top-info > li {
  border-right: 1px solid #cccccc;
  color: #666666;
  font-size: 15px;
  font-weight: 600;
  padding: 0 25px 0 0;  
}
.header-food  .shop-top-info.fix,
.header-food .shop-header-meta.pull-right {
  padding: 6px 0;
}
.header-food .shop-header-meta.pull-right > a{
  color: #666;
}
.header-food .shop-header-meta > li {
  border-left: 1px solid #cccccc;
  display: inline-block;
  float: none;
  margin-left: 16px;
  padding: 0 0 0 16px;
}
.header-food .shop-header-meta > li:first-child{
  border: none;
}
.header-food .shop-header-meta.pull-right >li  a,
.header-food .shop-header-meta.pull-right >li{
  color: #666;
}
.header-food .ml-light .primary-menu > ul > li > a {
  color: #666666;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 35px 0;
}
.header-food .ml-light .primary-menu > ul > li:first-child {
  margin-left: 0;
}
.header-food .logo {
  padding: 27.5px 0;
}
.header-food  .top-action-area > li > a {
  padding: 37.5px 0;
}
/*Food two header*/
.header-food2 .shop-header-top .top-action-area > li {
  border-right: medium none;
  padding: 0;
}
.header-food.header-food2 .primary-menu > ul > li > a {
  font-size: 15px;
  letter-spacing: 1px;
  padding: 20px 0;
}
.food-2-header {
  float: right;
  padding: 22px 0;
  width: 19%;
}
.food-header-2 {
  border-right: 1px solid #dddddd;
  float: left;
  margin: 25px 0;
  padding: 0 20px 0 0;
  width: 81%;
}
.header-food.header-food2 .logo {
  padding: 50px 0;
}
.header-food.header-food2 .shop-header-top {
  border: none;
}
.fo-area-top {
  border-bottom: 1px solid #e5e5e5;
}
.header-food2.header-food .shop-top-info > li {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #dddddd;
  border-image: none;
  border-style: none none none solid;
  border-width: medium medium medium 1px;
  color: #666666;
  margin-left: 20px;
  margin-right: 0;
  padding: 0 0 0 20px;
}
.header-food2 .shop-top-info.fix.pull-right {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.header-food2 .fo-area-top.clearfix {
  border: none;
}
.header-food2.header-food .shop-top-info > li:first-child,
.header-food2.header-food .shop-header-meta > li:first-child  {
  border: none;
  padding: 0;
  margin: 0;
}
.header-food2.header-food .shop-header-meta > li {
  display: inline-block;
  float: none;
  margin-left: 20px;
  padding: 0 0 0 20px;
}
.header-food2 .shop-top-info > li i,
.header-food2 .shop-header-meta > li:first-child a i {
  color: #f4b613;
  font-size: 16px;
}
/*Header Blue*/
.search-cat-wrapper {
  float: left;
  padding: 34px 0;
  width: 70%;
}
.search-cat {
  float: left;
  width: 130px;
  position: relative;
}
.search-cat select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: medium none;
  padding-left: 10px;
  text-transform: capitalize;
  width: 130px;
  border-radius: 20px 0 0 20px;
  height: 44px;
  line-height: 44px;
  background: #ffffff none repeat scroll 0 0;
}
.search-cat::before {
  content: "\f107";
  font-family: fontawesome;
  font-size: 15px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 28%;
  width: 18px;
  z-index: 9;
}
.cat-search-box {
  border: medium none;
  padding-left: 10px;
  width: 73%;
  height: 44px;
  line-height: 45px;
}
.search-cat option {
  padding: 5px;
  width: 100%;
}
.search-form button {
  background: #ffffff none repeat scroll 0 0;
  border: medium none;
  border-radius: 0 20px 20px 0;
  height: 44px;
  margin-left: -5px;
  width: 30px;
  color: #323334;
  font-size: 15px;
  padding-right: 10px;
  line-height: 44px;
}
.search-form button i {
  margin-left: -10px;
}
.search-form button::-moz-focus-inner {
  border:0;
  padding:0;
}
.order-online {
  float: left;
  padding: 34px 0 34px 30px;
  width: 30%;
}
.order-online i {
  width: 38px;
  height: 38px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  float: left;
  font-size: 20px;
}
.order-online > p {
  color: #ffffff;
  float: left;
  padding-left: 10px;
  width: 83%;
  margin: 0;
}
.order-online span {
  font-weight: bold;
  margin-right: 5px;
}
/*Medicine Header*/
.medicine-header-top {
  background: #90ad1b none repeat scroll 0 0;
  padding: 25px 0;
}
.mint-color-header.header-v7 .shop-header-meta > li > a {
  color: #ffffff;
}
.mint-color-header .chairman-logo-menu {
  background: #eeeeee none repeat scroll 0 0;
}
.mint-color-header .primary-menu > ul > li > a,
.mint-color-header.header-v7 .top-action-area > li > a {
  color: #303030;
}
.mint-color-header.header-v7 .shop-header-meta > li {
  border-left: 1px solid #ffffff;
}
.mint-color-header.header-v7 .shop-header-meta > li:first-child{
  margin: 0;
  padding: 0;
  border: none;
}
.logo-phone {
  border-left: 1px solid #ffffff;
  color: #ffffff;
  float: left;
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 0 40px;
  padding-left: 20px;
  position: relative;
  top: 12px;
}
.logo-phone i {
  margin-right: 10px;
}
.mint-color-header .logo a{
  float: left;
  display: inline-block;
}
/*Header Medicine two*/
.header-v3.header-medicine .logo {
  padding: 25px 0;
}
.header-v3.header-medicine .primary-menu > ul > li > a {
  border-radius: 0;
  padding: 6px 17px;
}
.header-v3.header-medicine .primary-menu > ul > li {
  padding: 30px 0 25px;
  margin-left: 5px;
}
.header-v3.header-medicine .top-action-area > li > a {
  padding: 40px 0;
}
.header-v3.header-food.header-medicine {
  border-bottom: 5px solid #eeeeee;
  margin-bottom: 30px;
}
.header-food.header-medicine .shop-header-top {
  background: #0088cc none repeat scroll 0 0;
  border-bottom: none;
}
.header-food.header-medicine .shop-top-info > li {
  border-right: 1px solid #e5e5e5;
  color: #ffffff;
  font-size: 13px;
}
.header-food.header-medicine .shop-top-info > li {
  padding: 0 25px 0 0;
}
.header-medicine .shop-top-info{
  padding: 15px 0;
}
.header-medicine .shop-header-meta{
  padding: 14px 0;
}
.header-food.header-medicine .shop-header-meta.pull-right > li > a, 
.header-food.header-medicine .shop-header-meta.pull-right > li {
  color: #fff;
}
.header-food.header-medicine .shop-header-meta.pull-right > li:first-child,
.header-food.header-medicine .shop-top-info > li:last-child{
  border: none;
}
.header-food.header-medicine .shop-header-meta > li {
  padding: 0 0 0 12px;
}
.header-food.header-medicine .shop-top-info.fix, 
.header-food.header-medicine .shop-header-meta.pull-right {
  padding: 13px 0;
}
/*Construction Header One*/
.construction-header .ml-light.chairman-logo-menu {
  background: #ffffff url("../../img/icons/header-bg.png") repeat-x scroll center bottom;
  padding: 0;
}
.construction-header .logo {
  padding: 50px 0 54px 0;
}
.construction-header .primary-menu > ul > li {
  margin-left: 5px;
}
.construction-header .primary-menu > ul > li:hover > a,
.construction-header .primary-menu > ul > li.current > a {
  background: #ffb300 none repeat scroll 0 0;
}
.header-v3.construction-header .primary-menu > ul > li > a {
  padding: 10px 20px;
  font-size: 15px;
  line-height: 20px;
  border-radius: 3px;
}
.construction-header .menu-wrap.pull-right {
  padding: 59px 0;
}
.construction-header .shop-top-info > li {
  border-right: 1px solid #41414a;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 0 25px 0 0;
}
.construction-header .shop-top-info.fix {
  padding: 15px 0;
}
.shop-top-info > li:last-child{
  border: none;
}
.construction-header .shop-top-info > li i {
  font-size: 24px;
  margin-right: 10px;
  position: relative;
  top: 0px;
}
.header-v3.construction-header .shop-top-info > li a{
  color: #ffffff ;
}
.search-form-2{
  position: relative;
  padding: 8px 0;
}
.search-form-2.pull-right > input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #41414a;
  color: #ffffff;
  height: 40px;
  padding: 0 20px;
  width: 252px;
  border-radius: 3px;
}
.search-form-2.pull-right > button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  font-size: 16px;
  height: 40px;
  margin-right: 5px;
  position: absolute;
  right: 0;
}

/*Construction Header Two*/
.construction-header.construction-header-2 .ml-light.chairman-logo-menu {
  background: transparent;
}
.construction-header.construction-header-2 .logo {
  padding: 25px 0 0;
}
.construction-header.construction-header-2 .menu-wrap.pull-right {
  padding: 30px 0 0;
}
.construction-header.construction-header-2 .shop-header-top {
  background: #2b2b35 none repeat scroll 0 0;
}
.construction-header.construction-header-2 .shop-top-info.fix {
  padding: 14px 0;
}
.construction-header.construction-header-2 .shop-top-info > li {
  border-right: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  margin-right: 30px;
}
.header-v3.construction-header.construction-header-2 .chairman-logo-menu {
  padding: 0;
}
.header-v3.construction-header.construction-header-2 .mean-container .mean-nav {
  margin-top: 105px;
}

/*Mobile Menu Style*/
/*.mobile-menu-area.mean-container {
  position: relative;
  top: -57px;
  z-index: 1;
}*/
.mean-container .mean-bar {
  margin-top: -81px;
}
.corporate-h1 .mean-container .mean-bar,
.corporate-h3 .mean-container .mean-bar {
  margin-top: -58px;
}
.corporate-h2 .mean-container .mean-bar {
  margin-top: -68px;
}
.transparent-header  .col-md-1.col-sm-5,
.transparent-header .col-md-3.col-sm-6{
  z-index: 2;
}
.transparent-header  .col-md-3.col-sm-6.col-xs-12 {
  z-index: 2;
}
.sticky .mean-container .mean-bar {
  margin-top: -61px;
  transition: .3s;
}
.col-lg-1.col-md-3.col-sm-6.col-meta-md,
.col-lg-3.col-md-8.col-sm-5{
  z-index: 99;
}
.shop-header-top .top-action-area > li {
  padding: 9px 20px;
  border-right: 1px solid #575859;
}
.header-v7.ex-paddig-area .shop-header-top .top-action-area > li {
  border-right: medium none;
  padding: 0 0 10px;
}
.header-handmed .shop-header-top .top-action-area > li > a {
  color: #9d9d9e;
  font-family: raleway;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
}
.header-handmed .shop-header-top .top-action-area > li > a i{
  margin-right: 10px;
}
.header-not-full-width .shop-header-meta > li:first-child a i {
  margin-left: 5px;
}
.header-handmed .primary-menu > ul > li > a {
  padding: 38px 0 ;
}
.header-handmed .logo{
  padding: 30px 0;
  transition:  .3s
}
.header-handmed .top-action-area > li > a {
  padding: 40px 0 ;
}
.header-handmed .sticky .top-action-area > li > a{
  padding: 25px 0;
}
.header-handmed .sticky .primary-menu > ul > li > a {
  padding: 22px 0;
}
.header-handmed .sticky .logo {
  padding: 15px 0;
}
.shop-hand-mad-header .logo {
  padding: 20px 0;
}
.shop-hand-mad-header .primary-menu > ul > li > a {
  padding: 35px 0 25px;
}
.shop-hand-mad-header  .top-action-area > li > a {
  padding: 40px 0 25px;
}
.header-v8-light.header-v8-light.header-v8 .chairman-logo-menu.menu-black-bg{
  background: #323334;
}
/*Medical Header*/
.medical-header-top {
  border-bottom: 1px solid #e5e5e5;
}
.medical-top-info > li {
  float: left;
  margin-right: 30px;
  color: #666666;
}
.medical-top-info > li:last-child{
  margin-right: 0;
}
.medical-top-info li i {
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 25px;
  margin-right: 7px;
}
.medical-top-info {
  padding: 15px 0;
}
.search-form-medical {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  float: right;
  margin-left: 20px;
  padding: 15px 0;
}
.medical-header-top .header-social-bookmark {
  float: right;
  border-left: 1px solid #e5e5e5;
  padding: 10px 0;
}
.medical-header-top .header-social-bookmark ul li a {
  color: #b2b2b2;
  font-size: 18px;
  line-height: 36px;
}
.search-form-medical > input {
  border: none;
  padding-left: 30px;
}
.search-form-medical > button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #999999;
  font-size: 16px;
  padding-right: 15px;
}
.header-v9 .logo {
  padding: 35px 0 45px;
}
.header-v9  .primary-menu > ul > li > a {
  padding: 10px 15px;
}
.header-v9  .ml-light .primary-menu > ul > li > a {
  color: #444444;
  font-size: 14px;
  letter-spacing: 1px;
}
.header-v9  .primary-menu > ul > li {
  margin-left: 5px;
}
.header-v9 .ml-light .primary-menu > ul > li.current > a,
.header-v9 .ml-light .primary-menu > ul > li:hover > a {
  background: #18afd3 none repeat scroll 0 0;
  color: #fff;
  border-radius: 3px;
}
.header-v9 .menu-wrap.pull-right {
  padding: 38px 0;
}
/*Header Medical 2*/
.medical-2{

}
.medical-2 .medical-header-top {
  border-bottom: none;
  background: #60646d;
}
.medical-2 .medical-top-info > li {
  color: #cfcfcf;
}
.medical-2 .medical-top-info > li a{
  color: #ffffff;
}
.medical-2 .medical-top-info {
  padding: 10px 0;
}
.medical-2  .medical-header-top .header-social-bookmark {
  border-left: 1px solid #70747c;
  padding: 4px 0;
}
.medical-2 .search-form-medical {
  border-left: 1px solid #70747c;
  border-right: 1px solid #70747c;
  padding:  9px 0;
}
.medical-2 .search-form-medical > input {
  background: transparent;
  color: #ffffff;
}
.header-v9.medical-2 .logo {
  padding: 35px 0 ;
}
.header-v9.header-v9 .menu-wrap.pull-right {
  padding: 33px 0;
}