a:hover,
.medical-header-top .header-social-bookmark ul li:hover a,
.tc-mark,
.medical-footer .ev-account a:hover,
.medical-footer .ev-single-widget p a,
.single-medicin-blog h4 > a:hover,
.doc-links.text-center > li a:hover,
.medical-2 .medical-top-info > li a:hover{
	color: #3498db ;
}
.chairman-dropdown > li:hover > a,
.single-mega-child li:hover a,
.chairman-sub-dropdown > li:hover > a,
.header-v9 .ml-light .primary-menu > ul > li.current > a, 
.header-v9 .ml-light .primary-menu > ul > li:hover > a,
.handelare-style.owl-theme .owl-controls .owl-buttons div:hover,
.co-btn-more:hover {
  background: #3498db none repeat scroll 0 0 !important;
  color: #ffffff !important;
}
.chairman-sub-dropdown, 
.top-search-form, 
.chairman-dropdown, 
.chairman-mega-menu{
  border-top: 3px solid #3498db;
}
.tc-mark:hover,
.medical-footer .ev-single-widget p a:hover{
  color: #ffffff;
}

.ev-adderss span,  
.ev-adderss a{
  color: #aaa;
}
.ev-adderss i {
  border: 1px solid #aaa;
  color: #aaa;
  float: left;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
}
.handelare-style.owl-theme .owl-controls .owl-buttons div:hover{
  border: 1px solid transparent;
}
.md-single-cat:hover h4 > a:hover,
.md-service-details > h4 a:hover{
  color: #444;
}
.fo-darkfooter.medical-footer .ev-footer-top-area,
.medical-footer .bottom-border-title.ev-widget-title::before,
.single-medicin-blog > li:first-child,
.md-area-heading > h4::before,
.single-medical-service:hover .md-service-details{
  background: #3498db;
}
.medical-footer .ev-news-letter form {
  background: #5dade2 none repeat scroll 0 0;
}
.md-row {
  border-bottom: none;
  padding: 120px 0;
}
body .readon.large {
  background: #15bc9e none repeat scroll 0 0;
  border: 2px solid transparent;
  border-radius: 0px;
  font-size: 14px;
}