.action-button li a:hover,
h2.product-name a:hover,
.product-tab-menu-style-two li a:hover,
.product-tab-menu-style-two li.active a,
.shop-blog-content h4 a:hover,
.shop-blob-meta a:hover,
.ev-account > li a:hover,
.tc-mark,
.cart-details h5 a:hover,
.total-price a,
.primary-menu > ul > li:hover > a,
.shop-header-meta > li ul li:hover > a,
.promo-borderd-style .shop-icon i,
.product-tab-menu-style-three li.active a,
.top-action-area > li:hover > a,
.user-meta > li:hover > a,
.shop-header-meta.pull-right li:hover > a{
	color: #afc284;
}
.product-carousel-style-one.owl-theme .owl-controls .owl-buttons div:hover,
.catr-count{
	background: #afc284;
}
.ev-news-letter button,
.quick-add-to-cart .single_add_to_cart_button {
  background: #afc284 none repeat scroll 0 0;
}
.ev-news-letter button:hover,
.top-search-form button:hover,
.quick-add-to-cart .single_add_to_cart_button:hover{
	background: #a8c26e;
}
.top-action-area > li > a {
  color: #323334;
}
.chairman-dropdown > li:hover > a {
  background: #afc284 none repeat scroll 0 0;
  color: #ffffff !important;
}
.chairman-sub-dropdown > li:hover > a,
.single-mega-child li:hover a,
a#scrollUp:hover,
body .readon.large:hover {
  background: #afc284 none repeat scroll 0 0 !important;
  color: #ffffff !important;
}
.chairman-sub-dropdown, 
.top-search-form, 
.chairman-dropdown, 
.chairman-mega-menu,
.cart-details-wrapper,
.user-meta,
.shop-header-meta > li ul,
.shop-header-meta > li ul {
  border-top: 3px solid #afc284;
}
.top-search-form button,
.add-to-cart-shop{
	background: #afc284;
}
.action-button li a:hover,
.product-carousel-style-three.owl-theme .owl-controls .owl-buttons div:hover {
  color: #fff;
  background: #afc284;
}
.border-banner-area-hand{
  margin-bottom: 40px;
}
.shop-hand-mad-header .primary-menu > ul > li > a, 
.header-v3 .top-action-area > li > a{
  color: #323334;
}
body .readon.large:hover{
  border: 2px solid transparent;
}