#bloc{border-right: 1px solid black;}
#iconCustom{font-size: 150%;}
#im {
	
	margin-left: 40%;

	margin-bottom: 2%;


}

#titre{

	text-align: center;
}

#TitreArcticle{
	
	margin-top:10%;
}


#block{


margin-top: 2%;
	margin-bottom: 3%;
}

#calendar{
	/*width: 100%;*/
	margin-bottom: 10%;
}

#myCarousel{
	/*width: 100%;*/
	/*margin-bottom: 10%;*/

}

#adminLoginForm{
    border: 1px solid black;
    margin-left: 25%;
    border-radius: 20px;
}
.carousel_link{margin-bottom: 0.5%; }
.alignCenter{text-align: center;}
.calendrierCSS{
	/*background-color: #0c1923;*/
}