.primary-menu > ul > li:hover > a,
.shop-header-meta > li ul li:hover > a,
.header-food .shop-header-meta > li:hover > a,
.header-food .shop-header-meta.pull-right >li:hover > a,
.cart-details h5 a:hover,
.total-price a,
.mint-color-header.header-v7 .top-action-area > li:hover > a,
.ml-light .primary-menu > ul > li:hover > a,
.user-meta > li:hover > a,
h2.product-name a:hover,
.ev-account > li a:hover,
a.tc-mark,
.shop-medicine-blog .shop-blob-meta a:hover,
.shop-blog2 .shop-blog-content h4 a:hover,
.shop-spical-product-content h4 a:hover,
.fo-darkfooter .ev-footer-top-area.mint-footer-top .ev-social-book li a:hover{
	color: #90ad1b !important; 
}
.product-carousel-style-one.owl-theme .owl-controls .owl-buttons div:hover,
.catr-count,
.tab-bg-colored.product-tab-menu-six li.active > a{
	background: #90ad1b;
}
.ev-news-letter button {
  background: #90ad1b none repeat scroll 0 0;
}
.ev-news-letter button:hover{
	background: #e59642;
}
.top-action-area > li > a {
  color: #323334;
}
.chairman-sub-dropdown > li:hover > a,
.single-mega-child li:hover a,
.chairman-dropdown > li:hover > a {
  background: #90ad1b none repeat scroll 0 0 !important;
  color: #ffffff !important;
}

.chairman-sub-dropdown, 
.top-search-form, 
.chairman-dropdown, 
.chairman-mega-menu,
.cart-details-wrapper,
.user-meta,
.shop-header-meta > li ul,
.shop-header-meta > li ul {
  border-top: 3px solid #90ad1b;
}
.top-search-form button,
.add-to-cart-shop{
	background: #90ad1b;
}
.ev-brown-footer .ev-news-letter button:hover{
  background: #b25238;
}
.top-search-form button:hover{
	background: #758c18;
}
.action-button li a:hover,
.product-carousel-style-three.owl-theme .owl-controls .owl-buttons div:hover {
  color: #fff;
  background: #90ad1b;
}
.border-banner-area-hand{
  margin-bottom: 40px;
}
.shop-hand-mad-header .primary-menu > ul > li > a, .header-v3 .top-action-area > li > a{
  color: #323334;
}
.product-style-four .add-to-bag:hover{
  color: #90ad1b;
}
.product-style-four .add-to-bag {
  border: 2px solid rgba(0, 0, 0, 0);
  color: #444444;
  padding: 0;
  text-align: left;
  text-decoration: underline;
}
.single-spical-product a.add-to-bag:hover{
  background: #90ad1b;
  border: 2px solid transparent;
  color: #fff;
}
.ev-brown-footer .ev-footer-top-area.mint-footer-top .ev-news-letter button:hover{
  border: 2px solid transparent;
  background: #fff;
  color: #90ad1b;
}