/*--------------------------------------
	Chairman Home Color Three
--------------------------------------------*/
*::-moz-selection {
  background: #38b8cb none repeat scroll 0 0;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #38b8cb none repeat scroll 0 0;
  color: #ffffff;
  text-shadow: none;
}
.head-transparent p a:hover,
.header-social-bookmark ul li a:hover,
.top-action-area > li:hover > a,
.tweet-content > p a,
.copy-right-text > a:hover,
.portfolio-cat li a:hover,
.portfolio-description h4 a:hover,
.portfolio-filter > li.active > a,
.portfolio-filter > li:hover a,
.potrfolio-3.potrfolio-3-extended .portfolio-description h4 a:hover,
.potrfolio-3.potrfolio-3-extended .portfolio-cat li a,
.user-meta > li a:hover{
  color: #38b8cb;
}
.primary-menu > ul > li.current > a,
.primary-menu > ul > li:hover > a{
	background: #38b8cb;
	border-radius: 3px;
	color: #fff;
}
.chairman-dropdown > li:hover > a,
.chairman-sub-dropdown > li:hover > a,
.single-mega-child li:hover a {
  background: #38b8cb none repeat scroll 0 0 !important;
  color: #ffffff !important;
}
.chairman-sub-dropdown, 
.top-search-form, 
.chairman-dropdown, 
.chairman-mega-menu,
.user-meta {
  border-top: 3px solid #38b8cb;
}

body .readon.large:hover,
.button-border:hover,
.button-border.theme-color-1:hover{
  color: #ed9f24;
  border-color: #ed9f24;
}
.portfolio-action-btn li a:hover,
.newsletter-form.dark-bg > button:hover,
.top-search-form button:hover{
  background-color: #2e9dad;
}
.testimonial-curosel-base.owl-theme .owl-controls .owl-page.active span, 
.testimonial-curosel-base.owl-theme .owl-controls.clickable .owl-page:hover span,
.newsletter-form.dark-bg > button,
.portfolio-action-btn li a,
.top-search-form button {
	background: #38b8cb;
}
.primary-menu > ul > li > a,
.top-action-area > li > a,
.potrfolio-3.potrfolio-3-extended .portfolio-cat li a:hover{
	color: #444444;
}
.primary-menu > ul > li > a{
	padding: 10px 15px;
}
.primary-menu > ul > li{
	margin-left: 0;
	padding: 25px 5px;
}
.setting-btn .icon-bar,
.top-search a{
	padding: 10px;
}
.top-setting-btn{
	margin-left: 0;
}

.menu-wrap{
	border-right: 1px solid #e5e5e5;
}
.portfolio-h.content-body {
  border-top: 1px solid #e5e5e5;
  padding: 100px 0 0;
}
.portfolio-masonry .thumb::before,
.potrfolio-4 .portfolio-item .thumb:before {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease 0s;
  width: 100%;
  
}
.potrfolio-4 .portfolio-item .thumb:before{
	z-index: 99;
}
.portfolio-item:hover .thumb::before,
.potrfolio-3.potrfolio-4 .portfolio-item:hover .thumb:before{
	opacity: 1;
}
.header-bottom-border .menu-wrap{
	padding: 0;
}
.hero-title {
  color: #333333;
  font-size: 40px;
  font-weight: normal;
  line-height: 22px;
  margin-bottom: 75px;
  text-transform: none;
}
.hero-title span {
  font-weight: bold;
}
.call-to-action-area h2 {
  font-weight: 600;
}
.button-border.theme-color-1:hover{
  background: #38b8cb;
  color: #ffffff;
  border: 2px solid transparent;
}
.tweet-content a:hover{
  color: #ffffff;
}