/*---------------------------------------------
  Testimonial style hear
-----------------------------------------------*/
.testimonial{
  padding: 75px 0;
}
.testimonial-transparent-bg {
  position: relative;
}
.transparent-bg-1 {
  background: rgba(0, 0, 0, 0) url("../../img/bg/testimonial/1.jpg") no-repeat scroll center center / cover ;
}
.testimonial-transparent-bg:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .5);
}
.single-testimonial blockquote p {
  color: #ffffff;
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
  margin-bottom: 40px;
  margin: 90px auto 0;
  width: 90%;
}
blockquote {
  border: medium none;
  margin: 0;
  padding: 0;
  position: relative;
}
.single-testimonial .client-name {
  text-transform: uppercase;
  font-family: raleway;
  font-weight: bold;
  font-style: normal;
  color: #fff;
  margin: 30px auto 0;
  width: 100%;
}
.single-testimonial .client-name span.position {
  font-family: lato;
  font-style: italic;
  font-weight: normal;
  text-transform: none;
}
.single-testimonial blockquote::before {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  content: "ï„";
  font-family: fontawesome;
  height: 50px;
  left: 50%;
  line-height: 50px;
  margin: 0 auto;
  position: absolute;
  top: -90px;
  width: 50px;
  margin-left: -25px;
}
.testimonial-curosel-base.owl-carousel.owl-theme .owl-page span {
  background: transparent;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 1;
  width: 12px;
  border: 1px solid #bbbbbb;
}
.testimonial-curosel-base.owl-theme .owl-controls .owl-page.active span, 
.testimonial-curosel-base.owl-theme .owl-controls.clickable .owl-page:hover span {
  opacity: 1;
  border: 1px solid transparent;
}
.testimonial-curosel-base.owl-theme .owl-controls {
  margin-top: 40px;
  text-align: center;
}
.testimonial-two.testimonial-curosel-base.owl-theme .owl-controls {
 margin: 0;
  text-align: left;
}
.slider-style-2.owl-theme .owl-controls .owl-buttons div {
  background: #fff none repeat scroll 0 0;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 24px;
  height: 41px;
  left: 0;
  line-height: 41px;
  margin: -20px 15px 0px;
  opacity: 1;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 41px;
  transition: .3s;
}
.slider-style-2.owl-theme .owl-controls .owl-buttons div:hover{
  background-color: #eaeaea;
}
.slider-style-2.owl-theme .owl-controls .owl-buttons div.owl-next{
  left: auto;
  right: 0;
}
.slider-style-2.owl-theme .owl-controls {
  margin-top: 0px;
}
.testimonial-two .single-testimonial blockquote::before{
  display: none;
}
.testimonial-two .single-testimonial blockquote p {
  background: #fff none repeat scroll 0 0;
  color: #bbbbbb;
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
  margin: 0;
  padding: 20px;
  width: 100%;
}
.client-info {
  padding: 20px 0 0 25px;
  overflow: hidden;
  position: relative;
}
.client-info > img {
  float: left;
  width: auto;
}
.info-meta {
  float: left;
  margin-left: 20px;
  margin-top: 30px;
  width: auto;
}
.info-meta > p:not(.client-position) {
  color: #444;
  font-family: raleway;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
}
.client-position {
  color: #999999;
  margin: 0;
}
.client-info:before{
width: 0;
height: 0;
border-style: solid;
border-width: 25px 0 0 30px;
border-color: transparent transparent transparent #d6d6d6;
line-height: 0px;
_border-color: #000000 #000000 #000000 #d6d6d6;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
position: absolute;
left: 0;
top: 0;
content: "";
transform: rotate(180deg);
}
.testimonial-transparent-bg.transptent-white-shad::before {
  background: rgba(0,0,0,.5); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(236, 236, 236, .1),rgba(241, 241, 241, .9)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(236, 236, 236, .1),rgba(241, 241, 241, .9)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(236, 236, 236, .1),rgba(241, 241, 241, .9)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(236, 236, 236, .1), rgba(241, 241, 241, .9)); /*Standard*/
}
.transptent-white-shad .single-testimonial blockquote p {
  color: #323232;
}
.transptent-white-shad .single-testimonial blockquote::before {
  border: 1px solid #323232;
  color: #323232;
}
.transptent-white-shad .testimonial-curosel-base.owl-carousel.owl-theme .owl-page:not(.active) span {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #828282;
}
.transptent-white-shad .testimonial-curosel-base.owl-carousel.owl-theme .owl-page:hover span{
  border: 1px solid transparent;
}
.testimonial-style-three-wrapper {
  background: rgba(0, 0, 0, 0) url("../../img/bg/23.jpg") repeat scroll center center / cover ;
  padding: 90px 0 75px;
  margin-bottom: 45px;
}
.testi-three {
  color: #ffffff;
  font-size: 14px;
  font-style: italic;
  margin: auto;
  width: 90%;
}
.client-name {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  margin-top: 25px;
  padding-top: 20px;
  position: relative;
  text-transform: uppercase;
}
.client-name::before {
  border-top: 1px solid #ffffff;
  content: "";
  left: 50%;
  margin: 0 auto 0 -35px;
  position: absolute;
  top: 0;
  width: 70px;
}
.widget-testimonial{
  background: #f3f3f3;
}
.widget-testimonial .testi-three {
  color: #3f3f3f;
}
.widget-testimonial{
  padding: 40px 0;
}
.widget-testi-style{

}
.widget-testi-style.owl-theme .owl-controls .owl-page span {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 20px;
  display: block;
  height: 11px;
  margin: 5px;
  opacity: 1;
  width: 11px;
}
.widget-testi-style.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  opacity: 1;
  background: #3f3f3f;
}
.widget-testi-style .client-name {
  color: #3f3f3f;
}
.widget-testi-style .client-name::before {
  border-top: 1px solid #3f3f3f;
}
.single-testimonial-4 p {
  color: #a8a8a8;
  font-size: 14px;
  font-style: italic;
  width: 90%;
  margin: 0 auto 10px;
  line-height: 24px;
}
.single-testimonial-4 .cl-name {
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  margin: 20px auto 34px;
}
.single-testimonial-4 .cl-name  span{
  font-weight: normal;
}
.testimonial-style-4.owl-theme .owl-controls .owl-page span {
  background: #e1e1e1 none repeat scroll 0 0;
  border-radius: 20px;
  display: block;
  height: 11px;
  margin: 5px 4px;
  opacity: 1;
  width: 11px;
  border: 1px solid transparent;
}
.testimonial-style-4.owl-theme .owl-controls .owl-page.active span, 
.testimonial-style-4.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: transparent;
  border: 1px solid #c96720;
}
.testimonial-style-4.owl-theme .owl-controls {
  bottom: 0;
  margin-top: 0;
  position: absolute;
  right: 16px;
  text-align: right;
}
.testimonial-text-bg.testimonial-two .single-testimonial blockquote p {
  background: #f7f7f7 none repeat scroll 0 0;
  color: #666666;
  line-height: 24px;
}
.testimonial-text-bg.testimonial-curosel-base.owl-carousel.owl-theme .owl-page span {
  border: 1px solid #dbdbdb;
  margin: 15px 5px 0;
}
.testimonial-text-bg.testimonial-curosel-base.owl-theme .owl-controls .owl-page.active span, .testimonial-curosel-base.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #dbdbdb none repeat scroll 0 0;
  border: 1px solid #dbdbdb;
}
.testimonial-text-bg .client-info::before {
  border-width: 16px 0 0 24px;
}
.gray-bg-area .testimonial-text-bg.testimonial-two .single-testimonial blockquote p {
  background: #fff none repeat scroll 0 0;
}